<div class="mb-4">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span class="physician">Physician Calendar</span>
            <span class="navbar-spacer"></span>
                <a href="https://www.linkedin.com/in/cole-pedersen/"
                    class="nav-links"
                    target="_blank">
                    <mat-icon class="m-2">account_box</mat-icon>
                </a>
                <a href="https://github.com/colebearski"
                    class="nav-links"
                    target="_blank">
                    <mat-icon class="m-2">rocket_launch</mat-icon>
                </a>
        </mat-toolbar-row>
    </mat-toolbar>
</div>